<div class="login-page">
  <div class="logo-grid">
  <div class="box"><span class="play play-2">O</span></div>
  <div class="box"></div>
  <div class="box strike strike-1"><span class="play play-1">X</span></div>

  <div class="box"></div>
  <div class="box strike strike-2"><span class="play play-3">X</span></div>
  <div class="box"></div>

   <div class="box strike strike-3"><span class="play play-5">X</span></div>
  <div class="box"></div>
  <div class="box"><span class="play play-4">O</span></div>
</div>
    <label class="page-title">Log In To Play</label>
    <ul class="login-menu">
    <li class="login-menu__item">
       <label>Sign in via google </label>
    <a class="btn icon-link" (click)="googleLogin()">
      <i class="fa fa-google"></i>
    </a>
    </li>
      <li class="login-menu__item">
       <label> Play as guest </label>
    <a class="btn icon-link" (click)="guestLogin()">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    </a>
    </li>
  </ul>
  </div>
