@import "~@angular/material/theming";

@mixin xopro-login-compponent-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .btn {
    &.secondary {
      background-color: mat-color($primary, A400);
    }
    &.primary {
      background-color: mat-color($primary);
    }
    &.icon-link {
      &.secondary {
        &:before {
          background-color: mat-color($primary);
          color: mat-color($accent);

        }
        .fa {
          color: mat-color($accent);

        }
      }
      &.primary {
        &:before {
          background-color: mat-color($primary, A400);
          color: mat-color($accent);

        }
        .fa {
          color: mat-color($accent) !important;

        }
      }
    }
    &.secondary:focus .fa, &.secondary:hover .fa {
    }
    &.primary:focus .fa, &.primary:hover .fa {
    }
  }
.logo-grid {
  color: mat-color($accent);
  .box {
    color:  mat-color($accent);
    background-color:  mat-color($primary, darker);
    > .strike {
      background: mat-color($accent);

    }
  }
}
}
