  @import '../../../assets/style/colors.scss';
  @import '../../../assets/style/fonts.scss';

  @import './animated-game.scss';

  .login-page{
    font-family: $font-do-hyeon;
    display: flex;
    flex-direction: column;
     align-items: center;
     align-content: center;
     height: 100%;
  .page-title {
    font-size: 100px;
    //margin-bottom: 50px;
  }
  .login-menu {
    height: 196px;
    font-size: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-end;

  &__item {
  display: flex;
  justify-content: center;
  align-items: center;
  &:nth-child(2) {
    margin-top: 24px;
  }

  label {
    font-size: 25px;
    margin-right: 24px;
  }
  .btn {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    &:before, .fa {
      transition: all 0.35s;
      transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }
    &:before {
      top: 90%;
      left: -110%;
    }
    .fa {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }

    &.icon-link {
      &:before {
        background-color: $primary-color;
      }
      .fa {
        color: $primary-color;
      }
    }
    &:focus:before, &:hover:before {
      top: -10%;
      left: -10%;
    }
    &:focus .fa, &:hover .fa {

      -webkit-transform: scale(1);
      transform: scale(1);
    }
    display: flex;
    width: 90px;
    height: 90px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.99;
    justify-content: center;
  align-items: center;
    &:before {
      content: '';
      width: 120%;
      height: 120%;
      position: absolute;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .fa {
      font-size: 38px;
      vertical-align: middle;
    }
  }
  }
  }
  }
