@import '../pieces.scss';
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

.noughts-n-crosses {
  font-size: 99px;
   color: #C0C0C0;
   font-family: 'Homemade Apple', cursive !important;
   div {
      &.NOUGHT {
        &:after {
          content: "\f00d";
        }
      }
      &.CROSS {
        &:after {
          content: "\f10c";
        }
      }
     &:after {
       font-family: "FontAwesome";
       opacity: 1;
       text-align: center;
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
       width: 100%;
       font-size: 70px;
     }
   }
}
