@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  color: red;
  font-family: 'Noto Serif', serif;

}
