$primary-color: 	rgba(45,45,45,1);
$secondary-color: #f8649e;
$ternary-color: #1ED3AF;
//  linear-gradient(45deg, rgba(45,45,45,1) 9%,rgba(0,0,0,1) 100%);
/* SASS */
$swatch_1: #594d9c;
$swatch_2: #40257c;
$swatch_3: #9774ac;
$swatch_4: #cfd1f2;
$swatch_5: #b9cec8;
$swatch_6: #8590e0;
$swatch_7: #fbfbfc;
$swatch_8: #f8649e;
$swatch_9: #FFFF66;
