@import url('https://fonts.googleapis.com/css?family=Anton|Cabin|Faster+One|Frijole|Homemade+Apple|Kirang+Haerang|Oswald');


$font-do-hyeon: 'Do Hyeon', sans-serif;
$font-form-field: 'Cabin', sans-serif;
$oswald: 'Oswald', sans-serif;
$faster-one: 'Faster One', cursive;
$frijole: 'Frijole', cursive;
$anton: 'Anton', sans-serif;

.body-text {
  font-family: $oswald;
  font-size: 18px;
}
