$yellow: #fbca67;

@mixin boardBorders( $square, $style, $border-width, $color) {
    .#{$square} {
        &:nth-child(1) {
            border-right: $style $border-width  $color;
            border-bottom: $style $border-width $color;
            &:hover {
                color: $yellow;
              }
            
              // Start ::after in same position as ::before
              &::after {
                top: 0;
                left: 0;
              }
            
              // Change colors
              &:hover::before {
                border-top-color: $yellow;
                border-right-color: $yellow;
              }
            
              &:hover::after {
                border-bottom-color: $yellow;
                border-left-color: $yellow;
                transition: // Animate height first, then width
                  height 0.25s ease-out,
                  width 0.25s ease-out 0.25s;
              }
        }
        &:nth-child(2) {
            border-right: $style $border-width $color;
           // border-left: $style $border-width $color;
            border-bottom: $style $border-width  $color;
        }
        &:nth-child(3) {
            //border-left: $style $border-width  $color;
            border-bottom: $style $border-width $color;
        }
        &:nth-child(4) {
            border-right: $style $border-width $color;
            border-bottom: $style $border-width $color;
           // border-top: $style $border-width $color;
        }
        &:nth-child(5) {
           // border-left: $style $border-width $color;
            border-bottom: $style $border-width $color;
           // border-top: $style $border-width $color;
            border-right: $style $border-width $color;
        }
        &:nth-child(6) {
          //  border-left: $style $border-width $color;
            border-bottom: $style $border-width $color;
           // border-top: $style $border-width $color;

        }
        &:nth-child(7) {
            border-right: $style $border-width $color;
          //  border-top: $style $border-width $color;
        }
        &:nth-child(8) {
           // border-left: $style $border-width $color;
            //border-top: $style $border-width $color;
            border-right: $style $border-width $color;
        }
        &:nth-child(9) {
            //border-left: $style $border-width $color;
           // border-top: $style $border-width $color;
        }
    }
}