@import '../../../../assets/style/colors.scss';

.btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  &:before, .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  &:before {
    top: 90%;
    left: -110%;
  }
  .fa {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  &:focus:before, &:hover:before {
    top: -10%;
    left: -10%;
  }
  &.secondary:focus .fa, &.secondary:hover .fa {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  &.primary:focus .fa, &.primary:hover .fa {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  &:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .fa {
    font-size: 30px;
    vertical-align: middle;
  }
}
