@import '~@angular/material/theming';

@mixin xopro-icon-button-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .btn {
    &.secondary {
      background-color: mat-color($primary, A400);
    }
    &.primary {
      background-color: mat-color($primary, darker);
    }
    &.icon-link {
      &.secondary {
        &:before {
          background-color: mat-color($primary, darker);
        }
        .fa {
          color: mat-color($primary);
        }
      }
      &.primary {
        &:before {
          background-color: mat-color($primary, darker);
        }
        .fa {
          color: mat-color($primary, A400);
        }
      }
    }
    &.secondary:focus .fa, &.secondary:hover .fa {
      color: mat-color($primary, A400);
    }
    &.primary:focus .fa, &.primary:hover .fa {
      color: mat-color($primary);
    }
  }


}
