@import '~@angular/material/theming';

@mixin xopro-game-timer-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .notif-tray {
    color: #fff;

  }
  .content {
    background-color: mat-color($primary, darker);
    color: orange;
  }

}
