@import '../../../../assets/style/colors.scss';
@import '../../../../assets/style/fonts.scss';
:host {
  display: block;
  width: 100%;

}
.notif-tray {
 margin: 10px auto;
 height: 150px !important;
 width: 70% !important;
//  background: repeating-linear-gradient(
//   -55deg,
//   #222,
//   #222 10px,
//   #333 10px,
//   #333 20px
// );
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.bg {
   height: 100px !important;
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%) !important;
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(255,255,255,.25);
  box-sizing:border-box;
  text-align:center;
  padding:10px;
  position:fixed;
  bottom: 15px;
  width: 50%;
  font-size: 22px;
  font-weight: bold;
  font-family: $anton;

}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
