@import '../boards.scss';

#grid {
//  background: url(http://blog.hostbaby.com/wp-content/uploads/2013/07/scuffedstatic_red_1920x1234.jpg);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-column-start: center;
  width: 500px;
  height: 500px;
  padding: 5px;
  .cell {
    font-size: 5vw;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 10px;
    border: 1px solid #53a7ea;
    cursor: pointer;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    &:hover, &:focus {
      box-shadow:
                  1px 1px #53a7ea,
                  2px 2px #53a7ea,
                  3px 3px #53a7ea;
          -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
        }
      &.drag-hint-border {

      }
      &.drag-over-border {
        background-color: #fff;
        transform: translate3d(0, 0, 0);
       backface-visibility: hidden;
       perspective: 1000px;

       animation: pulse 1s ease infinite forwards, shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite both;
      }
    }
  }
