<div id="grid" class="board">
  <div *ngFor="let cell of cells; let i = index" [ngClass]="'cell_' + (i + 1)" class="cell"  droppable
  [dragOverClass]="'drag-target'"  [dropScope]="isDropAllowed((i + 1))"  (onDrop)="onPieceDrop($event, i)">
  <div xoproPieceHost></div>
</div>
</div>
