@import '../../../../assets/style/colors.scss';

:host {
    // display: block;
    // height: 80%;
    // width: 50%;
    // top:75%;
    // left: 50%;
    // transform: translate3d(-50%,-50%, 0);
    // position: absolute
}

.board {
  // -webkit-transform: skew(-10deg);
  // -moz-transform: skew(-10deg);
  // -o-transform: skew(-10deg);
  // perspective: 1000px;

  border-radius: 5px;
  //border: 3px solid $primary-color;
  .drag-target {
    animation: pulse-border .3s infinite;
    border: solid blue;
    box-shadow: 0 0 0 rgba(0,0,255, 0.4);
  }

}
@keyframes pulse-border  {
0% {
  box-shadow: 0 0 0 0 rgba(0,0,255, 0.4);
}
70% {
    box-shadow: 0 0 0 30px rgba(0,0,255, 0);
}
100% {
   box-shadow: 0 0 0 0 rgba(0,0,255, 0);
}
}
