@import "~@angular/material/theming";

@mixin xopro-sphere-loader-compponent-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .loader-wrapper {
    background-color: mat-color($primary);
  }

  .spinner.sphere .disc {
    border-color: mat-color($accent);
  }
}
