<div class="loader-wrapper" [hidden]="!show">
    <div class="spinner sphere" id="sphere">
      <div class="inner">
        <div class="disc"></div>
        <div class="disc"></div>
        <div class="disc"></div>
      </div>
    </div>
    <div class="text">
      Loading....
    </div>
    </div>
