/* GENERAL */

@-webkit-keyframes fade {
  from { opacity: 1; }
  to { opacity: 0.2; }
}
@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0.2; }
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


    .loader-wrapper {
      position: absolute;
      width:100%;
      top:0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 1;
      z-index: 500000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    //  background-image: url("https://images.pexels.com/photos/326240/pexels-photo-326240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

}
