$xopro-black-primary: mat-palette($mat-grey, 700, 300, 900);
$xopro-black-accent: mat-palette($mat-blue-grey, 400);
$xopro-black-warn: mat-palette($mat-red, 500);

$xopro-black-theme: mat-dark-theme(
  $xopro-black-primary,
  $xopro-black-accent,
  $xopro-black-warn
);
