$xopro-primary: mat-palette($mat-indigo, 800, 300, 900);
$xopro-accent: mat-palette($mat-light-blue);
$xopro-warn: mat-palette($mat-pink, 600);

$xopro-theme: mat-light-theme($xopro-primary, $xopro-accent, $xopro-warn);
