$xopro-light-primary: mat-palette($mat-grey, 200, 500, 300);
$xopro-light-accent: mat-palette($mat-brown, 200);
$xopro-light-warn: mat-palette($mat-deep-orange, 200);

$xopro-light-theme: mat-light-theme(
  $xopro-light-primary,
  $xopro-light-accent,
  $xopro-light-warn
);
