$xopro-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$xopro-nature-accent: mat-palette($mat-deep-purple, 300);
$xopro-nature-warn: mat-palette($mat-red, 600);

$xopro-nature-theme: mat-light-theme(
  $xopro-nature-primary,
  $xopro-nature-accent,
  $xopro-nature-warn
);
