<header class="sticky-top" [ngClass]="{'openMenu': openMenu}">
  <img src="../../../../assets/Logo2.png" alt="">
  <label class="page-title">{{title}}</label>

  <div class="right-menu" *ngIf="user">
    <div class="name-trigger">
      <span class="displayName">{{user.displayName}}</span>
      <i class="material-icons menu-trigger" (click)="toggleMenu()">menu</i>
    </div>

  <nav id="dr-menu" class="dr-menu">
    <ul>
      <li [hidden]="!isGameRunning"><a class="dr-icon"(click)="exitGame()" ><i class="material-icons">exit_to_app</i>Exit Game</a></li>
      <li><a class="dr-icon"><i class="material-icons">person</i>Profile</a></li>
      <!-- <li><a class="dr-icon" href="#"><i class="material-icons">dashboard</i>Leader Board</a></li> -->
      <li><a class="dr-icon" (click)="goToSettings()" ><i class="material-icons">settings</i>Settings</a></li>
      <li><a class="dr-icon" (click)="logOut()"><i class="material-icons">power_settings_new</i>Logout</a></li>
    </ul>
  </nav>
  </div>

  </header>
