@import '~@angular/material/theming';

@mixin xopro-header-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  header {
    background-color: mat-color($primary);
    color: mat-color($accent);
    > li:hover {
      display: none;

    }
    >  #dr-menu {
      color: mat-color($accent);
      ul {
        li {


         }
      }

       > a , > .dr-label, > .dr-icon  {
         color: mat-color($accent);
         &:hover {
           color: mat-color($accent, A400)
         }
       }
    }
    &::before {
      background-color: transparent;
    }
      &::after{
        background-color: mat-color($primary, darker);

      }

  }
}
