@import "../../../../assets/style/colors.scss";
@import "../../../../assets/style/fonts.scss";

header {
  margin: 0;
  padding: 1em;
  overflow: hidden;
  height: 150px;
  transition: height 0.5s linear;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: skewY(-4deg);
    transform-origin: bottom left;
    z-index: -1;
  }
  .dr-icon:before,
  .dr-icon:after {
    position: relative;
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }

  .dr-menu ul .dr-icon:before {
    //margin-right: 15px;
  }

  img {
    height: 130px;
  }
  .app-name,
  .page-title {
    font-family: $faster-one;
  }
  .app-name {
    font-size: 25px;
  }
  .page-title {
    position: absolute;
    top: 20px;
    left: 25%;
    font-size: 60px;
  }
  .right-menu {
    top: 20px;
    position: absolute;
    right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .name-trigger {
      display: flex;
      align-items: center;
      font-size: 36px !important;
      cursor: pointer;
      z-index: 100;
      .displayName {
        font-size: 20px !important;
        margin-right: 10px;
      }
    }

    #dr-menu {
      width: 100%;
      max-width: 400px;
      min-width: 300px;
      position: relative;
      font-size: 1.3em;
      line-height: 2;
      font-weight: 400;
      padding-top: 1em;
      ul {
        list-style: none;
        opacity: 0;
        position: relative;
        z-index: 0;
        pointer-events: none;
        transition: opacity 0s linear .6s;
        flex-direction: column;
justify-content: center;
align-items: center;
        li {
          display: block;
          margin: 0 0 5px 0;
          opacity: 0;
          transition: opacity 0.3s ease .6s;
          cursor: pointer;
          a {
            display: inline-block;
            padding: 0 20px;

            i {
              margin-right: 12px;
              vertical-align: middle;

            }
          }
        }
      }
      div {
        cursor: pointer;
        position: absolute;
        width: 100%;
        z-index: 100;
        .dr-label {
          padding-left: 3em;
          position: relative;
          display: block;
          font-size: 0.9em;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          line-height: 2.75;
          transition: all 0.2s ease-in .6s;
        }
        .dr-icon {
          top: 0;
          left: 0;
          position: absolute;
          font-size: 150%;
          line-height: 1.6;
          padding: 0 10px;
          transition: all 0.4s ease .6s;
        }
      }
    }
  }
  &.openMenu {
    height: 400px;
    .right-menu {
      > #dr-menu {
        ul {
          opacity: 1;
          z-index: 200;
          pointer-events: auto;
          transition: opacity 0s linear;
          li {
            opacity: 1;
          }
        }
        div {
          .dr-label {
            transform: translateY(-90%);
          }
          .dr-icon {
            left: 100%;
            transform: translateX(-100%);
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
