@import "~@angular/material/theming";

@mixin xopro-label-button-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .xopro-btn {
    &.Secondary {
      background-color: mat-color($accent);
    }
    &.Primary {
      background-color: mat-color($primary, darker);
    }

    &.icon-link {
      &.Secondary {
        &:before {
          background-color: mat-color($primary, darker);
        }
        .text {
          color: mat-color($primary);
        }
      }
      &.Primary {
        &:before {
          background-color: mat-color($accent) !important;
        }
        .text {
          color: mat-color($primary, A400) !important;
        }
      }
    }
  }
}
