@import '../../../../assets/style/colors.scss';

.xopro-btn {
  display: inline-block;
  cursor: pointer !important;
  width: 200px;
  height: 50px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);

  &:before, .text {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  &:before {
    top: 100%;
    left: -110%;
  }
  .text {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  &:focus:before, &:hover:before {
    top: -0%;
    left: -20%;
  }
  &.Secondary:focus .text, &.Secondary:hover .text {
    color: #fff !important;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  &.Primary:focus .text, &.Primary:hover .text {
    color: $primary-color !important;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  &:before {
    content: '';
    width: 200%;
    height: 100%;
    position: absolute;
  }
  .text {
    cursor: inherit;
    font-size: 30px;
    vertical-align: middle;
  }
}
