@import '../boards.scss';
.black-silver {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 500px;
  padding: 5px;
//  background-color: #C0C0C0;
  .cell {
    text-align: center;
    background-color: #000;
    box-shadow: inset 0 0 30px #C0C0C0;
    border: 5px solid #C0C0C0

  }
}
