<div class="dropdown" [ngClass]="{'dropped': open}">
  <div class="item" [ngClass]="{'collapse': !open}"  *ngFor="let item of list" (click)="open = !open">{{item.label}}</div>
  <div class="item" [ngClass]="{'collapse': !open}"  (click)="open = !open">Select Item</div>
</div>


<!-- {{list | json}} -->
