<div class="board black-white">
  <div *ngFor="let cell of cells; let i = index" [ngClass]="'cell_' + (i + 1)" class="cell" droppable
    [dragOverClass]="'drag-target'"  (onDrop)="onPieceDrop($event, i)">
    <div xoproPieceHost></div>
  </div>
</div>
