@import '../boards.scss';

.black-white {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 500px;
  padding: 5px;
  //background: #808080 !important;

  .cell {
    text-align: center;
    border-radius: 25px;

    box-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
    &:nth-child(even) {
      background-color: #000;
      border: 5px solid #fff;

      /deep/ {
        .piece {
          color: #fff;
        }
      }
    }
    &:nth-child(odd) {
      background-color: #fff;
      border: 5px solid #000;

    }

  }
}
