<div class="xopro-game-settings">
<form>
  <label>Select App Theme</label>
  <!-- <xopro-dropdown-list [list]="themes"></xopro-dropdown-list> -->

  <mat-form-field>
           <mat-select
                       [ngModel]="settings?.theme"
                       (selectionChange)="onThemeSelect($event)"
                       name="themes">
             <mat-option *ngFor="let t of themes" [value]="t.value">
               {{t.label}}
             </mat-option>
           </mat-select>
         </mat-form-field>

</form>


  <div class="actions">
    <xopro-label-button  [label]="'Exit Settings'" [type]="'Primary'" (click)="onExitSettings()" ></xopro-label-button>
  </div>
</div>
