@import "../../../../assets/style/colors.scss";
@import "../../../../assets/style/fonts.scss";

.xopro-game-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;

  font-family: $font-do-hyeon;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    label {
      font-size: 20px;
      margin-left: 12px;
      margin-top: 12px;
      color: #fff;
      text-align: center;
    }
    mat-form-field {
      width: 40%;
      align-self: center;
    }
  }


  .actions {
    display: flex;
    justify-content: center;
  }
}
