<div id="timer-wrapper" [ngClass]="{'open': open, 'closed': !open, 'alert' : inAlert}">
    <div class="timer">
      <div class="time">
     <span id="minutes">{{time.min}}</span>:<span id="seconds">{{time.sec}}</span>
      </div>
    </div>
    <div class="time-mode">
        {{timerMode!.text}}
     </div>
    <div class="bottom">
     <i class="fa fa-chevron-down" [ngClass]="{'disabled' : inAlert}" (click)='open = !open'></i>
    </div>
</div>
