@import '../../../../assets/style/colors.scss';
@import '../../../../assets/style/fonts.scss';

#timer-wrapper {
      box-sizing: border-box;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
       font-family: "Roboto";
       font-weight: bold;
       font-size: 30px;
       width: 150px;
       height: 160px;
       border-bottom-left-radius: 15px;
       border-bottom-right-radius: 15px;
       position: absolute;
       left: 50%;
       top: -70px;
       display: flex;
       flex-direction: column;
       align-content: center;
       align-items: center;
       transition: top .6s linear;
       z-index: 1100;
       &.open {
         top: 0;
         .bottom {
           .fa {
               transform: rotate( 180deg );
               transition: transform 150ms ease 1s;
           }
         }
       }
       &.closed {
           .bottom {
           .fa {
              transform: rotate( 360deg );
              transition: transform 150ms ease 1s;
           }
         }
       }
       &.alert {
         animation: pulse-border-timer .3s infinite;
         border: solid red;
         box-shadow: 0 0 0 rgba(255,0,0, 0.4);

         .timer {
           color: red;
         }
       }
       .timer {
         flex-basis: 80%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         font-size: 50px;
       }
       .time-mode {
         flex-basis: 10%;
         font-size: 14px;
         margin-top: 9px;
       }
        .bottom {
         flex-basis: 10%;
         padding: 20px 0 0;
         .fa {
           cursor: pointer;
           &.disabled {
             cursor: not-allowed;
             pointer-events: none;
             opacity: 0.3;
           }
         }
       }
    }


@keyframes pulse-border-timer  {
0% {
  box-shadow: 0 0 0 0 rgba(255,0,0, 0.4);
}
70% {
    box-shadow: 0 0 0 20px rgba(255,0,0, 0);
}
100% {
   box-shadow: 0 0 0 0 rgba(255,0,0, 0);
}
}
