@import '~@angular/material/theming';
@import '../../../../assets/style/colors.scss';
@import '../../../../assets/style/fonts.scss';

@mixin xopro-game-menu-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  nav {
    .menu {
      &__item {
        color: #fff;

        &:hover {
          background-color: mat-color($primary, darker) !important;
          border-color: #fff;
          .r2 {
            .menu-icon {
              background: rgba(255,255,255,1);
              color: mat-color($primary);

            }
          }

        }

        &.disabled {
          background-color: grey !important;

        }
        &:nth-of-type(1) {
          background-color: $swatch_2;
        }
        &:nth-of-type(2) {
          background-color: $swatch_3;
        }
        &:nth-of-type(3) {
          background-color: $swatch_4;
        }

      }
    }
  }


}
