@import '../../../../assets/style/colors.scss';
@import '../../../../assets/style/fonts.scss';


nav {
  height: 450px;
  margin-top: 50px;
  .menu {
    list-style: none;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__item {
      font-size: 2.6rem;
      cursor: pointer;
      width: 600px;
      height: 86px;
      border-radius: 16px;
      padding: 10px 0;
      font-family: $font-do-hyeon;
      display: flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 12px;
      outline: none !important;
      transition: all .5s ease-in;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;

       .r1, .r2 {
         width: 100%;
         display: flex;
         justify-content: flex-start;
       }
      .r1 {
        transition: opacity .5s ease-in .3s;
        font-size: 15px;
        padding: 0px 85px;
        flex-basis: 30%;
        opacity: 0;
      }
      .r2 {
        .menu-icon {
          display: inline-block;
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          text-align: center;
          position: relative;
          z-index: 1;
          line-height: unset !important;
          box-shadow: 0 0 0 4px rgba(255,255,255,1);
        	overflow: hidden;
        	-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
        	-moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
        	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
          &:after {
          	pointer-events: none;
          	position: absolute;
          	width: 100%;
          	height: 100%;
          	border-radius: 50%;
          	content: '';
          	-webkit-box-sizing: content-box;
          	-moz-box-sizing: content-box;
          	box-sizing: content-box;
          }
          &:before {
          	font-size: 48px;
          	line-height: 90px;
          	font-style: normal;
          	font-weight: normal;
          	font-variant: normal;
          	text-transform: none;
          	display: block;
          	-webkit-font-smoothing: antialiased;
          }

        }
      }
      &:hover {
          border: 4px solid;
          .r1 {
            opacity: 1;
          }
          .r2 {
            .menu-icon {
              box-shadow: 0 0 0 2px rgba(255,255,255,0.3);
              &:before {
                -webkit-animation: toRightFromLeft 0.3s forwards;
                -moz-animation: toRightFromLeft 0.3s forwards;
                animation: toRightFromLeft 0.3s forwards;
              }
            }
          }
      }
      &.disabled {
        cursor: not-allowed !important;
        pointer-events: none;
        opacity: 0.2;
      }
      span.label {
        margin-left: 12px;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
      }


    }
  }
}


@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
