<nav>
    <ul class="menu">
      <li class="menu__item" (click)="onModeSelection(GameMode.MVM)">
        <div class="r1">
          <span>Play against AI</span>
        </div>
        <div class="r2">
        <i class="menu-icon material-icons">person</i>
          <span class="label">Single Player</span>
        </div>
      </li>
      <li class="menu__item" (click)="onModeSelection(GameMode.MVML)">
        <div class="r1">
          <span>Play against a another person on the same device</span>
        </div>
        <div class="r2">
            <i class="menu-icon material-icons">people</i>
            <span class="label">MultiPlayer (Local)</span>
        </div>

      </li>
      <li [ngClass]="{'disabled': user && user.type === UserType.GUEST}" class="menu__item" (click)="onModeSelection(GameMode.MVMR)">
        <div class="r1">
            <span>Play against another person via remotely</span>
        </div>
        <div class="r2">
          <i class="menu-icon material-icons">network_wifi</i>
        <span class="label">MultiPlayer (Remote)</span>
        </div>
      </li>

    </ul>
  </nav>


  <!-- Modal -->
<xopro-game-settings></xopro-game-settings>
