@import '~@angular/material/theming';

@mixin xopro-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .app-container {
    background-color: mat-color($primary);
  }
}
