:host {
  display: block;
  height: 100%;

  //background-image: url("https://images.pexels.com/photos/326240/pexels-photo-326240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;

  .app-content {
    margin-top: 20px;

    // &.openMenu {
    //   position: fixed; /* Sit on top of the page content */
    //   width: 100%; /* Full width (cover the whole page) */
    //   background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    //   z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    //   cursor: not-allowed; /* Add a pointer on hover */
    //  }
  }
}

.overlay {

  position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 100%;
width: 100%;
background-color: rgba(0,0,0,0.5);
display: none;
transition: all .5s ease-in;
 &.openMenu {
   z-index: 2;
display: block;
 }
}
