<xopro-sphere-loader></xopro-sphere-loader>
<div class="overlay" [ngClass]="{'openMenu': openMenu}"></div>
<div class="app-container"  id="xopro-container">
  <xopro-header (menuOpen)="onMenuOpen($event)"></xopro-header>
  <div class="app-content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path && loaderState!.show == false">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>
