@import '~@angular/material/theming';

@mixin xopro-game-settings-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .modal-dialog {

    .modal-content {
      .modal-header, .modal-footer {
        color: #fff;
        background-color: mat-color($primary, darker);
      }
      .modal-body {
        color: mat-color($primary);
        background-color: mat-color($primary, A400);
      }

    }
  }
}
