

<!-- Modal -->
<div class="modal fade" id="gameMenuModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Game Settings</h5>
        <xopro-icon-button (click)="close(false)" aria-label="Close" [icon]="'fa-close'"></xopro-icon-button>
      </div>
      <div class="modal-body">
        <form name="settings">
          <div class="setting">
              <span class="body-text">Choose Game Mode</span>
              <div class="fields">
                  <xopro-radio-button *ngFor="let mode of scroreModes; let i = index;"
                  [label]="mode.label" [index]="i" [name]="'scoreMode'"  [checked]="isSelectedMode(i)"
                  (selected)="selectedModeIndex = i"></xopro-radio-button>
            </div>
          </div>
          <div class="setting">
              <span class="body-text">Choose Difficulty Level</span>
              <div class="fields">
                  <xopro-radio-button *ngFor="let difficulty of difficultyLevels; let i = index;"
                  [label]="difficulty.label" [index]="i" [name]="'difficulty'"  [checked]="isSelectedDifficulty(i)"
                  (selected)="selectedDifficultyIndex = i"></xopro-radio-button>
            </div>
          </div>
          <div class="setting" [hidden]="selectedModeIndex != 2">
            <span class="body-text">Select Game Length</span>
            <div class="fields time-selection">
                <mat-slider
                  class="time-slider"
                   name="time"
                  [disabled]="disabled"
                  [max]="60"
                  [step]="5"
                  [tickInterval]="15"
                  [thumbLabel]="true"
                  [(ngModel)]="time"
                  [displayWith]="displayWith">
              </mat-slider>
              <div class="selected-time">
                {{time}} minutes
              </div>
          </div>
        </div>
         <div class="setting">
            <span class="body-text">Choose Game Board</span>
            <div class="fields">
              <div class="" >
                <xopro-radio-button *ngFor="let board of boardOptions; let i = index;"
                [label]="board.name" [index]="i" [name]="'board'"  [checked]="isSelectedBoard(i)"
                (selected)="selectedBoardIndex = i"></xopro-radio-button>
              </div>
          </div>

          <div class="setting mt-4">
              <span class="body-text">Choose Piece</span>
              <div class="fields">
                  <xopro-radio-button *ngFor="let piece of pieceTypes; let i = index;"
                  [label]="piece.label" [index]="i" [name]="'pieceType'"  [checked]="isSelectedPieceType(i)"
                  (selected)="selectedPieceTypendex = i"></xopro-radio-button>
            </div>
          </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">

        <xopro-label-button  [label]="'Cancel'" [type]="'Primary'" (click)="close(false)" ></xopro-label-button>
        <xopro-label-button [label]="'Start Game'" [type]="'Primary'" (click)="close(true)" ></xopro-label-button>
      </div>
    </div>
  </div>
</div>
