@import '../../../../assets/style/colors.scss';
@import '../../../../assets/style/fonts.scss';


  .modal-dialog {
    .modal-content {
      height: 700px !important;
      width: 500px;
      border-radius: 10px;
      .modal-header {
      font-family: $font-do-hyeon;
       border-top-left-radius: 8px;
       border-top-right-radius: 8px;
       .modal-title {
         font-size: 31px !important;
       }

      }
      .modal-body {
        [name=settings] {
          display: grid;
          grid-template-rows: 1fr 1fr 2fr;
          height: 500px;
          .setting {
            .title {
              font-family: $font-form-field;
              display: block;
            }
            .fields {
              display: block;
              &.time-selection {
                display: flex;
                justify-content: space-around;
                .selected-time {
                  font-size: 25px
                }
              }
              label.custom-control-label {
                font-family: $font-form-field;
                font-size: 28px;
              }
            }
          }

        }
      }

      .modal-footer {
        font-family: $font-do-hyeon;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
