@import '../../../../assets/style/colors.scss';
@import '../../../../assets/style/fonts.scss';

.radio-container {
  position: relative;
  display: inline-block;
  margin-right: 12px;
  .radio {

    label {
      background-color: #fff;
      border: 1px solid $primary-color;
      border-radius: 50%;
      cursor: pointer;
      height: 28px;
      left: 0;
      position: absolute;
      top: 0;
      width: 28px;
      margin-right: 15px;
      transition: background-color .5s easeInOut;
      &:after {
        background-color: #fff;
        border-radius: 50%;
        content: "";
        height: 12px;
        left: 7px;
        opacity: 0;
        position: absolute;
        line-height: 36px;
        top: 7px;
        width: 12px;
        transition: opacity .5s easeIn;
      }
      &:hover:not(.selected) {
        border-width: 3px
      }
    }
    label {
      transition: border .5s easeOutIn;

    }
   label.selected {
        background-color: $primary-color;
        border-color: $primary-color;
        &:after {
          opacity: 1;
        }
      }

    span.text {
      margin-left: 40px;
      font-family: $font-form-field;

    }
  }
}
