@import '../../../../assets/style/colors.scss';

// Variables
$btn-bg: #fff;


.btn-wrapper {
  width: 290px;
  height: 110px;
  position: relative;
  margin: 40px auto 0;
  outline: none !important;

  &:hover {
    .btn-inner {
      top: -4px;
      transform: scale(1, 1);
      cursor: pointer;
      background-color: $primary-color !important;
      .btn-inner__text {
        color: #fff !important;
      }
    }
  }

  &__container {
    border-bottom: 2px solid $primary-color;
    position: absolute;
    width: 100%;
    height: 80px;
    &:before,
    &:after {
      border-bottom: 2px solid $primary-color;
      width: 96%;
      left: 2%;
      bottom: -8px;
      content: "";
      position: absolute;
    }

    &:after {
      width: 92%;
      left: 4%;
      bottom: -14px;
    }

    .btn-inner {
      width: 104.2%;
      height: 100%;
      position: absolute;
      top: 20px;
      left: -2.1%;
      border: 2px solid $primary-color;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Do Hyeon', sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 35px;
      background: $btn-bg;
      transform: scale(.96, .96);
      transition: all .3s;
      z-index: 4;
      transition: all 0.35s;
      transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
      &__text {
        text-decoration: none;
        color: $primary-color !important;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
      }
    }
  }
}
