@import '~@angular/material/theming';

@mixin xopro-game-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .board-host {
  //  background-color:  mat-color($primary, darker);

  }
}
