@import '../../../../assets/style/colors.scss';
@import '../../../../assets/style/fonts.scss';
:host {

}

.board-host {
//  border: 2px solid;
  border-radius: 10px;

  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
