<xopro-game-timer></xopro-game-timer>


<div class="row">
  <div class="col-2">
    <xopro-player-tray  class="player" [player]="players.player" [trayType]="PLAYER_TYPE.PLAYER"></xopro-player-tray>
  </div>
  <div class="col-8 board-host" >
    <div xoproBoardHost>

    </div>
  </div>
  <div class="col-2">
    <xopro-player-tray class="oponent" [player]="players.oponent" [trayType]="PLAYER_TYPE.OPONENT"></xopro-player-tray>
  </div>
</div>
<div class="row">
  <xopro-game-notification></xopro-game-notification>
</div>
