/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import './assets/style/colors.scss';



@import '../node_modules/@angular/material/theming';

@include mat-core();

@import './assets/style/themes/default-theme.scss';
@import './assets/style/themes/light-theme.scss';
@import './assets/style/themes/black-theme.scss';
@import './assets/style/themes/nature-theme.scss';
@import './assets/style/themes/styles-reset.scss-theme.scss';
@import './app/auth/login/login.component.theme.scss';
@import './app/core/components/header/header.component.theme.scss';
@import './app/shared/components/label-button/label-button.theme.scss';
@import './app/shared/components/icon-button/icon-button.component.theme.scss';
@import './app/shared/components/icon-button/icon-button.component.theme.scss';
@import './app/shared/components/loaders/sphere-loader/sphere-loader.component.theme.scss';
@import './app/shared/components/dropdown-list/dropdown-list.component.theme.scss';

@import './app/core/components/main/app.component.theme.scss';
@import './app/core/components/game-menu/game-menu.component.theme.scss';
@import './app/game/components/game-settings/game-settings.componenent.theme.scss';
@import './app/game/components/game-timer/game-timer.component.theme.scss';
@import './app/game/components/game-notification/game-notification.component.theme.scss';
@import './app/game/components/game/game.compononent.theme.scss';


html, body {
height: 100%;
}


@mixin custom-components-theme($theme) {
  @include xopro-styles-reset-theme($theme);
  @include xopro-header-component-theme($theme);
  @include xopro-label-button-theme($theme);
  @include xopro-app-component-theme($theme);
  @include xopro-game-menu-component-theme($theme);
  @include xopro-game-settings-component-theme($theme);
  @include xopro-icon-button-component-theme($theme);
  @include xopro-game-timer-component-theme($theme);
  @include xopro-game-component-theme($theme);
  @include xopro-sphere-loader-compponent-theme($theme);
  @include xopro-login-compponent-theme($theme);
  @include xopro-dropdown-list-theme($theme);
}

.default-theme {
  @include angular-material-theme($xopro-theme);
  @include custom-components-theme($xopro-theme);
}


.light-theme {
  @include angular-material-theme($xopro-light-theme);
  @include custom-components-theme($xopro-light-theme);
}

.dark-theme {
  @include angular-material-theme($xopro-black-theme);
  @include custom-components-theme($xopro-black-theme);
}

.nature-theme {
  @include angular-material-theme($xopro-nature-theme);
  @include custom-components-theme($xopro-nature-theme);
}

.drag-transit{
 padding: 0 !important;
 height: 50px !important;
}


.mat-slider-track-fill {
  background-color: $primary-color !important;
}
