<div class="noughts-n-crosses" draggable [dragData]="data" [dragHandle]="'.drag-handle'" [dragImage] = "'../../../../../../../assets/images/drag.svg'">
  <div class="piece drag-handle" [ngClass]="{ 'NOUGHT': data.type == pieceType.NOUGHT, 'CROSS' : data.type == pieceType.CROSS }">

  </div>

</div>
