@import '../../../../assets/style/colors.scss';
@import '../../../../assets/style/fonts.scss';
div.player-tray {
  top: 30px;
  font-size: 12px;
	cursor: pointer;
	margin: 15px 30px;
	width: 150px;
	height: 400px;
  border-radius: 5%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff !important;
  background-color: grey;
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
  border: 3px solid green;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,22,0.3449754901960784) 35%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;



  .player-info {
    flex-basis: 60%;
    background-color: $primary-color;
    border-bottom: 1px solid $primary-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .picture {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      border: 5px solid;
    }
  }
  .score {

  }
  .drag-area {
    flex-basis: 40%;

  }



  &.active-player {
    .player-info {
    	background: rgb(255,69,0);
      }
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      color: #fff;
  }
}
