<div class="player-tray" *ngIf="player" [ngClass]="{'active-player': turn == trayType}" [style.borderColor]="player.color">
  <div class="player-info">
    <span class="name">{{player!.displayName}}</span>
    <img src="{{player!.avatar}}" class="picture" alt="" [style.borderColor]="player.color">
    <span  class="score">SCORE: O</span>
  </div>
  <div class="drag-area">
    <div class="draggable-piece" xoproPieceHost>
    </div>
  </div>

</div>
