@import url(https://fonts.googleapis.com/css?family=Lato:900);
@import '../pieces.scss';

*, *:before, *:after{
  box-sizing:border-box;
}

div.noughts-n-crosses{
  font-family: 'Lato', sans-serif;

}
.piece {
  display: inline-block;
  font-weight: 900;
  font-size: 70px;
  position: relative;
  color: #00B4F1;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
  border: none;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  text-decoration: normal;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  &.nought {
 color: rgba(255,255,255,1);
 text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  }
  &.cross {
 color: rgba(255,255,255,1);
 text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff0000 , 0 0 70px #ff0000 , 0 0 80px #ff0000 , 0 0 100px #ff0000 ;
  }

}
.piece:before, .piece:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.piece, .piece:before, .piece:after{
  transition: all 0.3s ease-in-out;
}
.piece:before{
  color: #fff;
  text-shadow:
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.piece:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.piece:hover:before{
  color: #fafafa;
  // transform:
  //   rotateX(0deg)
  //   rotateY(-40deg)
  //   rotateZ(0deg);
}
.piece:hover:after{
  // transform:
  //   scale(1.08,1)
  //   rotateX(0deg)
  //   rotateY(40deg)
  //   rotateZ(0deg)
  //   skew(0deg,22deg);
}
