<div class="noughts-n-crosses" draggable [dragEnabled]="data.activeTurn" [dragData]="data" [dragHandle]="'.drag-handle'" [dragImage] = "'../../../../../../../assets/images/drag.svg'">
  <span class="piece nought drag-handle" data-letter="O" *ngIf="data.type == pieceType.NOUGHT">O</span>
  <span class="piece cross drag-handle" data-letter="X" *ngIf="data.type == pieceType.CROSS">X</span>
</div>
